/**
 *  RESET
 */
body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Roboto', sans-serif;
}

.ft-roboto {
    font-family: 'Roboto', sans-serif;
}

.ft-road-rage {
    font-family: 'Road Rage', sans-serif;
}

h1 {
    font-size: 5em;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3em;
    }
}

h2 {
    font-size: 2.5em;
    font-family: 'Road Rage', sans-serif;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.5em;
    }
}

/**
 *  SECTION - ACCUEIL
 */
#accueil {
    position: relative;
    z-index: 1;
}

#accueil:before {
    background: center / cover no-repeat url('../images/office.jpg');
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.65;
}

#titre {
    padding-bottom: 12%;
}

/**
 *  SECTION - SERVICES
 */
#services h1 {
    padding-top: 100px;
}

@media screen and (max-width: 992px) {
    #services div.position-absolute {
        position: relative !important;
    }

    #services h1 {
        padding-top: 75px;
    }

    #services .min-vh-100 {
        align-items: flex-start !important;
    }

    #services .min-vh-100 .row {
        padding: 0 !important;
    }
}

/**
 *  SECTION - COMPETENCES
 */
#competences h1 {
    padding-top: 100px;
}

@media screen and (max-width: 1200px) {

    #domainesCompetences {
        margin-top: 6rem !important;
    }
    
    #competencesTechniques {
        margin-top: 3rem !important;
    }
    
    #competencesFonctionnelles {
        margin-bottom: 3rem !important;
    }
}

@media screen and (max-width: 992px) {
    #competences div.position-absolute {
        position: relative !important;
    }

    #competences h1 {
        padding-top: 75px;
    }

    #competences .min-vh-100 {
        align-items: flex-start !important;
    }

    #competences .min-vh-100 .row {
        padding: 0 !important;
    }

    #domainesCompetences {
        margin-top: 0 !important;
    }

    #competencesTechniques {
        margin-top: 3rem !important;
    }
}

/**
 *  SECTION - A PROPOS
 */
#apropos h1 {
    padding-top: 100px;
}

@media screen and (max-width: 992px) {
    #apropos div.position-absolute {
        position: relative !important;
    }

    #apropos h1 {
        padding-top: 75px;
    }

    #apropos .min-vh-100 {
        align-items: flex-start !important;
    }

    #apropos .min-vh-100 .card {
        width: 100% !important;
        margin-bottom: 40px;
    }
}

/**
 *  SECTION - CONTACT
 */
#contact h1 {
    padding-top: 100px;
}

@media screen and (max-width: 992px) {
    #contact div.position-absolute {
        position: relative !important;
    }

    #contact h1 {
        padding-top: 75px;
    }

    #contact .min-vh-100 {
        align-items: flex-start !important;
    }

    #contact .min-vh-100 #submitForm {
        margin-bottom: 40px;
    }
}

/**
 *  BARRE DE NAVIGATION
 */
#navigation {
    box-shadow: 0 0 5px black;
}

.nav-link {
    padding: 20px 25px !important;
    font-family: 'Roboto', sans-serif !important;
}