/**
 *  RESET
 */
body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Roboto', sans-serif;
}

.ft-roboto {
    font-family: 'Roboto', sans-serif;
}

.ft-road-rage {
    font-family: 'Road Rage', sans-serif;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.5em;
    font-family: 'Road Rage', sans-serif;
}

/**
 *  SECTION
 */

div.section {
    min-height: 100vh;
}

/**
 *  SECTION - ACCUEIL
 */
#accueil {
    position: relative;
    z-index: 1;
}

#accueil:before {
    background: center / cover no-repeat url('../images/office.jpg');
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.65;
}

#titre {
    padding-bottom: 12%;
}

/**
 *  SECTION - SERVICES
 */
#services h1 {
    padding-top: 100px;
}

/**
 *  SECTION - COMPETENCES
 */
#competences h1 {
    padding-top: 100px;
}

/**
 *  SECTION - A PROPOS
 */
#apropos h1 {
    padding-top: 100px;
}

/**
 *  SECTION - CONTACT
 */
#contact h1 {
    padding-top: 100px;
}

/**
 *  BARRE DE NAVIGATION
 */
#navigation {
    color: #f9f1f0 !important;
    box-shadow: 0 0 5px black;
}

.nav-link {
    padding: 20px 25px !important;
    font-family: 'Roboto', sans-serif !important;
    text-transform: uppercase;
}